In [1]:
import pandas as pd
from config_file import config

In [2]:
annotations = pd.read_csv(config.DATA_PATH / "annotations.csv")
annotations.head()

                   filename                                         annotation
0  koajaesby7cmhujlcwkl.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...
1  poegvjadtys8fflxpxnu.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...
2  lrx26njeiciksjqby7ou.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...
3  vux5gzepdeqvhvm84rcz.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...
4  jlt7ncnm7cheka0hmypd.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...

In [4]:
core_games = pd.read_csv(config.DATA_PATH / "core_games_info.csv")
core_games.head()

,image_id,game_id,name,release_date,rating,genres,player_perspectives,platforms
0,koajaesby7cmhujlcwkl,1105,Metroid Prime,1037491200,92.517454,"Shooter, Platform, Puzzle, Adventure",First person,[21]
1,poegvjadtys8fflxpxnu,1105,Metroid Prime,1037491200,92.517454,"Shooter, Platform, Puzzle, Adventure",First person,[21]
2,lrx26njeiciksjqby7ou,1105,Metroid Prime,1037491200,92.517454,"Shooter, Platform, Puzzle, Adventure",First person,[21]
3,vux5gzepdeqvhvm84rcz,1105,Metroid Prime,1037491200,92.517454,"Shooter, Platform, Puzzle, Adventure",First person,[21]
4,jlt7ncnm7cheka0hmypd,1105,Metroid Prime,1037491200,92.517454,"Shooter, Platform, Puzzle, Adventure",First person,[21]

In [ ]:
core_annotations = annotations[
    annotations["filename"].apply(lambda x: x[:-4] in core_games["image_id"].array)
]
core_annotations.head()

                   filename                                         annotation
0  koajaesby7cmhujlcwkl.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...
1  poegvjadtys8fflxpxnu.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...
2  lrx26njeiciksjqby7ou.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...
3  vux5gzepdeqvhvm84rcz.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...
4  jlt7ncnm7cheka0hmypd.jpg  Game has genres: Shooter, Platform, Puzzle, Ad...

In [9]:
core_annotations.to_csv(config.DATA_PATH / "core_annotations.csv", index=False)